$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

@mixin md {
  @media only screen and (min-width: $md) {
    @content;
  }
}

@mixin lg {
  @media only screen and (min-width: $lg) {
    @content;
  }
}