.page-enter-active,
.page-leave-active { 
  transition: all .25s; 
}

.page-enter-active .delay {
  transition-delay: 0.25s;
}

.page-enter {
  opacity: 0; 
  transform: translate(0, -10px);
}

.page-leave-active { 
  opacity: 0; 
}
