body {
  font-family: 'Source Code Pro', monospace;
}

.display {
  font-family: 'Lora', sans-serif;
  font-size: 48px;
  font-weight: 700;
}

.h1,
h1 {
  font-size: 32px;
  font-family: 'Lora', sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
}

.h2,
h2 {
  display: inline-block;
  font-family: 'Source Code Pro', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 10px;

}

.h3,
h3 {
  font-family: 'Source Code Pro', sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.h6,
h6 {
  font-size: 16px;
  letter-spacing: 1px;
}

p {
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 10px;
}

.highlight {
  position: relative;

  &:before {
    background: $color--primary;
    content: '';
    display: block;
    bottom: 0;
    left: 0;
    right: 10px;
    height: 15px;
    position: absolute;
    width: 100%;
    z-index: -100;

    @include md {
      display: none;
    }
  }
}